/**************************** RESET START *****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/**************************** CATEGORIES HEADER *****************************/
.categories-header {
  text-align: center;
  padding: 4rem 1rem;
}

.categories-header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.categories-header .categories-line {
  width: 60%;
  max-width: 500px;
  height: 1px;
  background: black;
  margin: 1rem auto;
}

.categories-header p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

/**************************** CATEGORIES HEADER END *****************************/

/**************************** CATEGORIES BOXES****************************/

.categories {
  max-width: 1100px;
  margin: 0 auto 80px;
  padding: 0 60px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
}

.category-card img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  max-width: 400px;
}

.category-card h2 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.4;
  -webkit-text-stroke: 0.5px currentColor;
  margin-bottom: 0;
}

.category-card p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.8;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  .categories {
    padding: 0;
  }

  .categories-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 12px;
  }

  .category-card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .category-card p {
    margin-bottom: 60px;
  }
}

/**************************** CATEGORIES BOXES END *****************************/
/**************************** HERO *****************************/
.hero {
  position: relative;
  z-index: 0;
  margin-top: 80px;
  margin-bottom: 150px;
}
.hero img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  .hero {
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero img {
    height: 300px;
    object-fit: cover;
    display: block;
  }
}
/**************************** HERO END *****************************/

/**************************** BACK LINK START *****************************/

.categories-back {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 2rem;
  text-align: center;
}

.categories-back a {
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}
.categories-back a:hover {
  color: #0433ff;
}

@media (max-width: 600px) {
  .categories-back {
    text-align: center;
    margin: 2rem 0;
    padding: 0;
  }

  .categories-back a {
    display: inline-block;
  }
}
/**************************** BACK LINK END *****************************/
